[run]
branch = True
source = app
omit =
    tests/*
    */__init__.py
    */__main__.py
    */venv/*
    */.venv/*
    */.pytest_cache/*
    */.git/*
    */.vscode/*
    */.idea/*
    */.coverage
    */.coverage.*
    */coverage.xml
    */htmlcov/*
    */.coverage.*

[report]
show_missing = True
skip_covered = True
precision = 2

[html]
directory = htmlcov
