[MASTER]

# Add any paths that should be added to the Python path
pythonpath=./tests:.

# List of members which are set dynamically and missed by pylint inference
# system, such as members set by web frameworks, RPC frameworks, DB drivers,
# deserialization packages.
dynamic-member-evaluation=Flask.test_client

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=E1101  # no-member - SQLAlchemy session methods are dynamically added

[TYPECHECK]
# Add additional directories to search for Python modules.
init-hook='import sys; sys.path.append(".")'

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[REPORTS]
# Disable all reports.
reports=no

[REFACTORING]
# List of methods for which parameter documentation is not required.
undocumented-members=__init__
